extends layout.pug

block content
    a(href='/books')
        h1 MY LIBRARY
    include search-form
    p
        a.button(href='/books/new') Create New Book
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody.book-entries
            each book in books
                tr
                    td
                        a(href=`/books/${book.id}`)=book.title
                    td=book.author
                    td=book.genre
                    td=book.year
    .pagination 
        - var n = 1;
        ul.link-list 
            while n <= pageBtns
                li
                    a(href=`/books?page=${n}`)
                        button(type='button' class='page-btn')=n++
                        
            