extends layout.pug

block content
    h1 Books
    div.search
        label.book-search(for='search')
            span Search By:  
            input#search(placeholder='Search by Title, Author, Genre, or Year' type='search')
            button(type='button')
                img(src='/images/icon.svg' alt='Search Icon' width='30px')
    p
        a.button(href='/books/new') Create New Book
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody.book-entries
            each book in books
                tr
                    td
                        a(href=`/books/${book.id}`)=book.title
                    td=book.author
                    td=book.genre
                    td=book.year
    .pagination 
        - var n = 1;
        ul.link-list 
            while n <= pageBtns
                li 
                    button(type='button' class)=n++
            